USE [master]
GO
/****** Object:  Database [BTL]    Script Date: 5/12/2021 2:13:01 PM ******/
CREATE DATABASE [BTL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BTL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BTL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BTL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BTL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BTL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BTL]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 5/12/2021 2:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[BlogID] [int] NOT NULL,
	[TitleBlog] [nvarchar](4000) NULL,
	[Time] [nchar](30) NULL,
	[ContentBlog] [nvarchar](4000) NULL,
	[ImageBlog] [nchar](30) NULL,
	[NameUser] [nvarchar](50) NULL,
	[Summary] [nchar](2000) NULL,
 CONSTRAINT [PK_Blog] PRIMARY KEY CLUSTERED 
(
	[BlogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 5/12/2021 2:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cartID] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[total] [money] NOT NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[cartID] ASC,
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/12/2021 2:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[TypeID] [int] NOT NULL,
	[TypeName] [nvarchar](50) NULL,
	[TypeStatus] [bit] NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 5/12/2021 2:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentID] [int] NOT NULL,
	[NameUser] [nvarchar](30) NULL,
	[Job] [nvarchar](50) NULL,
	[CommentContent] [nvarchar](2000) NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CountryType]    Script Date: 5/12/2021 2:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountryType](
	[countryID] [int] NOT NULL,
	[countryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CountryType] PRIMARY KEY CLUSTERED 
(
	[countryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 5/12/2021 2:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](11) NULL,
	[Address] [nvarchar](100) NULL,
	[Email] [nvarchar](50) NULL,
	[Photo] [nvarchar](50) NULL,
	[Activated] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 5/12/2021 2:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[colorID] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[image] [text] NOT NULL,
	[color] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[colorID] ASC,
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5/12/2021 2:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[cartID] [int] IDENTITY(1,1) NOT NULL,
	[createdDate] [datetime] NULL,
	[name] [nvarchar](50) NULL,
	[phone] [nchar](15) NULL,
	[email] [nchar](30) NULL,
	[address] [nvarchar](255) NULL,
	[city] [nvarchar](20) NULL,
	[state] [nvarchar](20) NULL,
	[paymentMethod] [nvarchar](50) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[cartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentType]    Script Date: 5/12/2021 2:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentType](
	[paymentTypeID] [int] NOT NULL,
	[paymentTypeName] [nvarchar](50) NULL,
 CONSTRAINT [PK_PaymentType] PRIMARY KEY CLUSTERED 
(
	[paymentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/12/2021 2:13:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[productID] [int] IDENTITY(1,1) NOT NULL,
	[productName] [nvarchar](50) NOT NULL,
	[productPrice] [nchar](20) NULL,
	[productSale] [nchar](20) NULL,
	[productInfor] [nvarchar](2000) NULL,
	[productImage] [nchar](30) NULL,
	[productIntroduce] [nvarchar](4000) NULL,
	[TypeID] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/12/2021 2:13:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](30) NULL,
	[Password] [nchar](50) NULL,
	[Email] [nchar](30) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([TypeID], [TypeName], [TypeStatus]) VALUES (1, N'Điện thoại', 1)
INSERT [dbo].[Category] ([TypeID], [TypeName], [TypeStatus]) VALUES (2, N'Máy tính', 1)
INSERT [dbo].[Category] ([TypeID], [TypeName], [TypeStatus]) VALUES (3, N'Máy tính bảng', 1)
GO
INSERT [dbo].[Comment] ([CommentID], [NameUser], [Job], [CommentContent]) VALUES (1, N'Ngọc Hà', N'Nhân viên văn phòng', N'"Mình đã từng mua điện thoại ở rất nhiều cửa hàng, nhưng chỉ có Smart Cellular mới chăm sóc khách hàng có tâm và tầm nhất".')
INSERT [dbo].[Comment] ([CommentID], [NameUser], [Job], [CommentContent]) VALUES (2, N'Hoàng Minh Tuấn', N'Giảng viên đại học quốc gia Hà Nội', N'"Sản phẩm chất lượng cao, chính sách ưu đãi vô cùng tốt".')
INSERT [dbo].[Comment] ([CommentID], [NameUser], [Job], [CommentContent]) VALUES (3, N'Ngô Văn Hoàng', N'Nhân viên ngân hàng', N'"Mẫu mã sản phẩm đa dạng, hiện đại, có nhiều lựa chọn cho khách hàng, tư vấn nhiệt tình, thân thiện"')
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Fullname], [PhoneNumber], [Address], [Email], [Photo], [Activated], [IsDeleted]) VALUES (1, N'Lê Thị Quế Anh', N'0923888233', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
INSERT [dbo].[Image] ([colorID], [productID], [image], [color]) VALUES (1, 1, N'img_01_den.jpg', N'Màu đen')
INSERT [dbo].[Image] ([colorID], [productID], [image], [color]) VALUES (2, 1, N'img_01_trang.jpg', N'Màu trắng')
INSERT [dbo].[Image] ([colorID], [productID], [image], [color]) VALUES (3, 1, N'img_01_vang.jpg', N'Màu vàng')
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([cartID], [createdDate], [name], [phone], [email], [address], [city], [state], [paymentMethod]) VALUES (1, CAST(N'2021-05-10T21:43:33.000' AS DateTime), N'erere', N'343434343434   ', N'duycong383@gmail.com          ', N'17', N'hy', N'mhdf', N'tra')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
INSERT [dbo].[PaymentType] ([paymentTypeID], [paymentTypeName]) VALUES (1, N'Credit')
INSERT [dbo].[PaymentType] ([paymentTypeID], [paymentTypeName]) VALUES (2, N'Cash')
INSERT [dbo].[PaymentType] ([paymentTypeID], [paymentTypeName]) VALUES (3, N'Paypal')
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Username], [Password], [Email]) VALUES (1, NULL, NULL, NULL)
INSERT [dbo].[User] ([UserID], [Username], [Password], [Email]) VALUES (2, NULL, NULL, NULL)
INSERT [dbo].[User] ([UserID], [Username], [Password], [Email]) VALUES (3, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_Photo]  DEFAULT (N'Photo.gif') FOR [Photo]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customers_Active]  DEFAULT ((0)) FOR [Activated]
GO
USE [master]
GO
