@model MobileStore.Models.Entity.Product
<div class="sidebar-item recent-posts">
    <div class="sidebar-heading">
        <h4 class="info">Info</h4>
    </div>

    <div class="content">
        <h1 style="color:DodgerBlue;" class="name"><span style="font-size:70px">@Model.productName</span></h1>
        <h1 class="price">@Model.productSale</h1>
        <p class="info">@Model.productInfor</p>
    </div>
</div>
